<div class="row">
  <div class="span5 offset3" id="sign_up_form">
    <fieldset>
      <legend> Create Event </legend>
      <%= form_for @event, :url => user_events_path ,:method => :post, :html => { :class => "form-horizontal event_signin"}  do |f|  %>

          <div class="control-group">
            <%= f.label :event_name ,"Event Name ", :class =>"control-label"  %>
            <div class="controls">
              <%= f.text_field :event_name, :class => 'text_field' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :description , "Description",:class =>"control-label" %>
            <div class="controls">
              <%= f.text_field :description, :class => 'text_field'%>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :start_time, "Start Time",:class =>"control-label" %>
            <div class="controls">
              <%= f.text_field :start_time, :class => "hasDatepicker", :id => "event_start_time"%>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :end_time, "End Time",:class =>"control-label" %>
            <div class="controls">
              <%= f.text_field :end_time, :class => 'text_field'%>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <div></div>
              <div><%= f.submit "Create Event", :class => "btn btn-primary sign-up-btn" %></div>
            </div>
          </div>

      <% end %>
    </fieldset>
  </div>
</div>

<!--<script type="text/javascript">-->
//    $(document).ready(function() {
//
//        $('#event_start_time').datetimepicker({
//            timeFormat: "hh:mm tt"
//        });
//       var event_name = new LiveValidation('event_event_name');
//       event_name.add( Validate.Presence );
//
//        var start_time = new LiveValidation('event_start_time');
//        start_time.add( Validate.Presence );
//
//        var end_time = new LiveValidation('event_end_time');
//        end_time.add( Validate.Presence );
//
//
//    });
<!--</script>-->