<div class="row">
  <div class="span5 offset2">
    <h1> </h1>

    <%= form_for @user, :url => save_user_company_admin_path(@company_admin) ,:method => :post,:html => { :class => "form-horizontal event_signin"} do |f|  %>
        <%= render 'shared/error_messages', :object => f.object %>
        <div class="control-group">
          <%= f.label :email, "Email Id", :class =>"control-label" %>
          <div class="controls">
            <%= f.text_field :email, :class => 'text_field'%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password, "Password", :class =>"control-label" %>
          <div class="controls">
            <%= f.password_field :password, :class => 'text_field'%>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div><%= f.submit "Create User", :class => "btn btn-primary sign-up-btn"%></div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var user_email = new LiveValidation('user_email');
        user_email.add( Validate.Presence );
        user_email.add( Validate.Email );

        var user_password = new LiveValidation('user_password');
        user_password.add( Validate.Presence );
        user_password.add( Validate.Length, { minimum: 6 } );

    });
</script>