<div class="row">
  <div class="span5 offset2">
    <h1> </h1>

    <%= form_for @user, :url => save_user_company_admin_path(@company_admin) ,:method => :post do |f|  %>

        <div>
          <%= f.label :first_name ,"First Name "  %>
          <div>
            <%= f.text_field :first_name %>
          </div>
        </div>
        <div>
          <%= f.label :last_name , "Last Name" %>
          <div>
            <%= f.text_field :last_name%>
          </div>
        </div>
        <div>
          <%= f.label :email, "Email Id" %>
          <div>
            <%= f.text_field :email%>
          </div>
        </div>
        <div>
          <%= f.label :password, "Password" %>
          <div>
            <%= f.password_field :password%>
          </div>
        </div>
        <div>
          <div>
            <div><%= f.submit "Create User"%></div>
          </div>
        </div>
    <% end %>
  </div>
</div>