<div class="row">
  <div class="span5 offset3" id="sign_up_form">
    <fieldset>
      <legend>CompanyDetails</legend>
      <%= form_for @company_admin, :method => :put, :html => { :class => "form-horizontal event_signin"}  do |f|  %>

          <div class="control-group">
            <%= f.label :email, "Email Id",:class =>"control-label" %>
            <div class="controls">
              <%= f.text_field :email, :class => 'text_field'%>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password, "Password",:class =>"control-label" %>
            <div class="controls">
              <%= f.password_field :password, :class => 'text_field'%>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password_confirmation, "Confirm Password",:class =>"control-label" %>
            <div class="controls">
              <%= f.password_field :password_confirmation, :class => 'text_field'%>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <div></div>
              <div><%= f.submit "Sign Up", :class => "btn btn-primary sign-up-btn" %></div>
            </div>
          </div>

      <% end %>
      <%#= link_to "Back", show_admin_dashboard_admins_path, :class => "btn btn-large btn-primary" ,id:"create_cause_btn" %>
    </fieldset>

  </div>
</div>