<div class="row">
  <div class="span5 offset2">
    <h1> </h1>

    <%= form_for @company_admin, :method => :post do |f|  %>

        <div>
          <%= f.label :first_name ,"First Name "  %>
          <div>
            <%= f.text_field :first_name %>
          </div>
        </div>
        <div>
          <%= f.label :last_name , "Last Name" %>
          <div>
            <%= f.text_field :last_name%>
          </div>
        </div>
        <div>
          <%= f.label :email, "Email Id" %>
          <div>
            <%= f.text_field :email%>
          </div>
        </div>

        <%= f.fields_for :company do |company| %>
            <div>
              <%= company.label :company_name ,"Company Name "  %>
              <div>
                <%= company.text_field :company_name %>
              </div>
            </div>
            <div>
              <%= company.label :type_of_company , "Type of company" %>
              <div>
                <%= company.text_field :type_of_company%>
              </div>
            </div>
            <div>
              <%= company.label :location, "Location" %>
              <div>
                <%= company.text_field :location%>
              </div>
            </div>
        <% end %>

        <div>
          <div>
            <div><%= f.submit "SIGN Up"%></div>
          </div>
        </div>

    <% end %>
  </div>



</div>