<div class="row">
  <div class="span5 offset2">
    <h1> </h1>

    <%= form_tag('/super_admins/company_admins') do  %>

        <div>
          <%= label_tag "First Name"  %>
          <div>
            <%= text_field_tag "first_name" %>
          </div>
        </div>
        <div>
          <%= label_tag "Last Name" %>
          <div>
            <%= text_field_tag "last_name"%>
          </div>
        </div>
        <div>
          <%= label_tag "Email ID" %>
          <div>
            <%= text_field_tag "email" %>
          </div>
        </div>

        <div>
          <div>
            <div><%= submit_tag "SIGN Up"%></div>
          </div>
        </div>

    <% end %>
  </div>



</div>




